<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Stationery Shop</title>
    <!-- Include Bootstrap CSS from a CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <h1>Welcome to the Stationery Shop</h1>
    <div class="services">
        <h2>Our Services</h2>
        <p>Welcome to our Stationery Shop, your one-stop solution for all your stationery needs. We understand the importance of the right tools in your pursuit of creativity and productivity. Whether you're a student preparing for your exams or a professional sketching out your next big idea, we've got you covered. Our range of essential and premium stationery options ensures that you'll always find what you need.</p>
        <p>Our essential range is perfect for students looking for quality stationery at affordable prices. From notebooks to pens, we have everything you need to support your learning journey. For professionals, our premium range offers high-quality, stylish stationery that can make a statement in any office environment. We also offer custom stationery services for businesses looking to create a unique brand identity. Visit our catalogue to explore our offerings.</p>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>